h1 {
    font-weight: bold; // Pogrubienie tekstu
    text-transform: uppercase; // Duże litery
    letter-spacing: 1px; // Minimalne rozciągnięcie liter dla lepszej czytelności
}

h5 {
    font-weight: bold; // Pogrubienie tekstu
}
